{% extends 'base.html' %}

{% block title %}Welcome to Boggle!{% endblock %}

{% block content %}
<h3>Flask Boggle!</h3>
<div class="home">
    <p>The goal of the game is to get the highest point total. To gain points, players create words from a random assortment of letters in a 5x5 grid.</p>
    <p>Words can be created from adjacent letters – that is, letters which are horizontal or vertical neighbors of each other as well as diagonals. The letters must connect to each other in the proper sequence to spell the word correctly. This means that the next letter in the word can be above, below, left, or right of the previous letter in the word (excluding any letters previously used to construct the word).</p>
    <form id="start-game" method="GET">
        <button formaction='/board'>Start/Continue Game</button>
    </form>
</div>

<br>
{% if session['totalPlays'] %}
<h3>Total Plays: {{session['totalPlays']}}</h3>
{% endif %}
{% if session['totalPlays'] %}
<h3>High-Score: {{session['highScore']}}</h3>
{% endif %}

{% endblock %}